{% load static %}
<div class="my-5 mx-5">
    <h1>Loop</h1>
    <p>Mainly there is two types of loops</p>
    <ul>
        <li>while loop</li>
        <li>for loop</li>
    </ul>
    
    <h3>while loop</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_11/1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <h5>break statement</h5>
    <p>With the break statement we can stop the loop even if the while condition is true.</p>
    <img src="{% static 'img/lesson_11/2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <h5>continue statement</h5>
    <p>With the continue statement we can stop the current iteration, and continue with the next.</p>
    <img src="{% static 'img/lesson_11/3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <h5>else statement</h5>
    <p>With the else statement we can run a block of code once when the condition no longer is true.</p>
    <img src="{% static 'img/lesson_11/4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>for loop</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_11/5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>Do you know - looping through a String</p>
    <h5>break statement</h5>
    <p>With the break statement we can stop the loop before it has looped through all the items.</p>
    <img src="{% static 'img/lesson_11/6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <h5>continue statement</h5>
    <p>With the continue statement we can stop the current iteration of the loop, and continue with the next.</p>
    <img src="{% static 'img/lesson_11/7.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <h5>rang() function</h5>
    <p>To loop through a set of code a specified number of times, we can use the range() function.</p>
    <img src="{% static 'img/lesson_11/8.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <h5>else statement</h5>
    <p>The else keyword in a for loop specifies a block of code to be executed when the loop is finished.</p>
    <img src="{% static 'img/lesson_11/9.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <h5>Nested loops</h5>
    <img src="{% static 'img/lesson_11/10.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <h5>pass statement</h5>
    <img src="{% static 'img/lesson_11/11.png' %}" class="img-fluid mt-3" alt="Responsive image">
</div>