{% load static %}
<div class="my-5 mx-5">
    <h1>Tuple</h1>
    <p>One of the 4 built-in data type that can use to store multiple items in a single variable.</p>
    <p>This is ordered, unchangeable  and allow duplicate</p>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_07/1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>To get length of the tuple</p>
    <img src="{% static 'img/lesson_07/2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>create tuple with one item</p>
    <img src="{% static 'img/lesson_07/3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    
    <h3>Access tuple item</h3>
    <p>We can access item in the tuple by referring index</p>
    <img src="{% static 'img/lesson_07/4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>We can access item from the end of the tuple by referring negative index.</p>
    <img src="{% static 'img/lesson_07/5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>We can access range of items by specifying start and end point of the range.</p>
    <img src="{% static 'img/lesson_07/6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>We can check whether the item is exist or not in th tuple</p>
    <img src="{% static 'img/lesson_07/7.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>Change tuple items</h3>
    <p>We can change the item of tuple converting to list</p>
    <img src="{% static 'img/lesson_07/8.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>Unpack tuple</h3>
    <p>we are also allowed to extract the values back into variables. This is called "unpacking"</p>
    <img src="{% static 'img/lesson_07/9.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list</p>
    <img src="{% static 'img/lesson_07/10.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>loop through a list</h3>
    <p>We can use for loop</p>
    <img src="{% static 'img/lesson_07/11.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>Also we can use while loop</p>
    <img src="{% static 'img/lesson_07/12.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Join lists</h3>
    <p>Using + operator</p>
    <img src="{% static 'img/lesson_07/13.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>multiple tuple</p>
    <img src="{% static 'img/lesson_07/14.png' %}" class="img-fluid mt-3" alt="Responsive image">
</div>