{% load static %}
<div class="my-5 mx-5">
    <h1>Sets</h1>
    <p>One of the 4 built-in data type that can use to store multiple items in a single variable.</p>
    <p>This is  unordered, unchangeable*, and unindexed</p>
    <p>Sets cannot have two items with the same value.The values True and 1 are considered the same value in sets, and are treated as duplicates.</p>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_08/1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>To get length of the set</p>
    <img src="{% static 'img/lesson_08/2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>set data types - can be any type</p>
    <br />
    
    <h3>Access set item</h3>
    <p>We can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.</p>
    <img src="{% static 'img/lesson_08/3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>Add set items</h3>
    <p>We can use add() method</p>
    <img src="{% static 'img/lesson_08/4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>We can add another set using update()</p>
    <img src="{% static 'img/lesson_08/5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>remove set item</h3>
    <p>To remove an item in a set, use the remove(), or the discard() method.  If the item to remove does not exist, remove() will raise an error. But discard() not.</p>
    <img src="{% static 'img/lesson_08/6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <img src="{% static 'img/lesson_08/7.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>loop through a set</h3>
    <p>We can use for loop</p>
    <img src="{% static 'img/lesson_08/8.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Join lists</h3>
    <p>We  can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another.</p>
    <img src="{% static 'img/lesson_08/9.png' %}" class="img-fluid mt-3" alt="Responsive image">
</div>