{% load static %}
<div class="my-5 mx-5">
    <h1>Dictionaries</h1>
    <p>One of the 4 built-in data type that can use to store multiple items in a single variable.</p>
    <p>This is  used to store data values in key:value pairs. Duplicates Not Allowed and Changeable.</p>
    <p>Dictionaries cannot have two items with the same value.The values True and 1 are considered the same value in dictionarys, and are treated as duplicates.</p>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_09/1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>Access dictionary item</h3>
    <p>We can access the items of a dictionary by referring to its key name.</p>
    <img src="{% static 'img/lesson_09/2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The keys() method will return a list of all the keys in the dictionary.</p>
    <img src="{% static 'img/lesson_09/3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The values() method will return a list of all the values in the dictionary.</p>
    <img src="{% static 'img/lesson_09/4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The items() method will return each item in a dictionary, as tuples in a list.</p>
    <img src="{% static 'img/lesson_09/5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>Change Items</h3>
    <p>We can change the value of a specific item by referring to its key name</p>
    <img src="{% static 'img/lesson_09/6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The update() method will update the dictionary with the items from the given argument.</p>
    <img src="{% static 'img/lesson_09/7.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Add dictionary items</h3>
    <p>Adding an item to the dictionary is done by using a new index key and assigning a value to it</p>
    <img src="{% static 'img/lesson_09/8.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.</p>
    <img src="{% static 'img/lesson_09/9.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>Remove dictionary item</h3>
    <p>The pop() method removes the item with the specified key name.</p>
    <img src="{% static 'img/lesson_09/10.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead).</p>
    <img src="{% static 'img/lesson_09/11.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The del keyword removes the item with the specified key name.</p>
    <img src="{% static 'img/lesson_09/12.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The clear() method empties the dictionary.</p>
    <img src="{% static 'img/lesson_09/13.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>loop through a dictionary</h3>
    <p>We can use for loop</p>
    <img src="{% static 'img/lesson_09/14.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>We can also use the values() method to return values of a dictionary.</p>
    <img src="{% static 'img/lesson_09/15.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>We can use the keys() method to return the keys of a dictionary.</p>
    <img src="{% static 'img/lesson_09/16.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>Loop through both keys and values, by using the items() method.</p>
    <img src="{% static 'img/lesson_09/17.png' %}" class="img-fluid mt-3" alt="Responsive image">

</div>