{% load static %}
<div class="my-5 mx-5">
    <h1>Array</h1>
    <p>An array is a special variable, which can hold more than one value at a time.</p>
    <img src="{% static 'img/lesson_14/1.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Access array elements</h3>
    <p>refer to an array element by referring to the index number</p>
    <img src="{% static 'img/lesson_14/2.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Length of an array</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_14/3.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>looping array elements</h3>
    <img src="{% static 'img/lesson_14/4.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Add new elements</h3>
    <p>You can use the append() method to add an element to an array.</p>
    <img src="{% static 'img/lesson_14/5.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Remove elements</h3>
    <p>You can use the pop() method to remove an element from the array.</p>
    <img src="{% static 'img/lesson_14/6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <img src="{% static 'img/lesson_14/7.png' %}" class="img-fluid mt-3" alt="Responsive image">

</div>