{% load static %}
<div class="my-5 mx-5">
    <h1 class="text-center">Rules for Naming</h1>
    <ul>
        <li>The underscore character or a letter must come first in a variable name.</li>
        <li>A number cannot come first in a variable name.</li>
        <li> Only underscores (A-z, 0-9, and _) and alphanumeric characters are permitted in variable names.</li>
        <li>Names of variables are case-sensitive (age, Age and AGE are three different variables).</li>
        <li>Any Python keyword cannot be the name of a variable.</li>
    </ul>
    <img src="{% static 'img/lesson_03/10.png' %}" class="img-fluid" alt="Responsive image">
    <br/>

    <h1 class="text-center mt-3">Multi Words Variable Names</h1>
    <h5 class="mt-3">Camel Case</h5>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_03/7.png' %}" class="img-fluid" alt="Responsive image">
    <h5 class="mt-3">Pascal Case</h5>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_03/12.png' %}" class="img-fluid" alt="Responsive image">
    <h5 class="mt-3">Snake Case</h5>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_03/13.png' %}" class="img-fluid" alt="Responsive image">

    <h1 class="text-center mt-3">Assign Multiple Values</h1>

    <h5 class="mt-3">Many Values to Multiple Variables</h5>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_03/14.png' %}" class="img-fluid" alt="Responsive image">
    <h5 class="mt-3">One Value to Multiple Variables</h5>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_03/15.png' %}" class="img-fluid" alt="Responsive image">
    <h5 class="mt-3">Unpack a Collection</h5>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_03/16.png' %}" class="img-fluid" alt="Responsive image">
    <br />

    <h1 class="text-center mt-3">Output Variables </h1>
    <h5>Example:-</h5>
    <img src="{% static 'img/lesson_03/17.png' %}" class="img-fluid" alt="Responsive image">
    <br />

    <h1 class="text-center mt-3">Global Variables</h1>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_03/18.png' %}" class="img-fluid" alt="Responsive image">
</div>