{% load static %}
<div class="my-5 mx-5">
    <h1 class="text-center mt-3">Types</h1>
    <ul>
        <li>Text Type</li>
        <p>str</p>
        <li>Numeric Types</li>
        <p>int, float, complex</p>
        <li>Sequence Types</li>
        <p>list, tuple, range</p>
        <li>Mapping Type</li>
        <p>dict</p>
        <li>Set Type</li>
        <p>set, frozenset</p>
        <li>Boolean Types</li>
        <p>bool</p>
        <li>Binary Types</li>
        <p>bytes, bytearray, memoryview</p>
        <li>None Type</li>
        <p>NoneType</p>
    </ul>
    <br />

    <h1 class="text-center mt-3">Numbers</h1>
    <ul>
        <li>Int</li>
        <li>Float</li>
        <li>Complex</li>
    </ul>
    <img src="{% static 'img/lesson_04/1.png' %}" class="img-fluid" alt="Responsive image">
    <br/>

    <h3 class="mt-3">Conversion</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/2.png' %}" class="img-fluid" alt="Responsive image">
    
    <h3 class="mt-3">Random Numbers</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/3.png' %}" class="img-fluid" alt="Responsive image">

    <h1>String</h1>
    <h3 class="mt-3">Single or Double</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/4.png' %}" class="img-fluid" alt="Responsive image">
    <h3 class="mt-3">Multiline string</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/5.png' %}" class="img-fluid" alt="Responsive image">
    <h3 class="mt-3">Slicing</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/6.png' %}" class="img-fluid" alt="Responsive image">
    <h3 class="mt-3">Modify</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/7.png' %}" class="img-fluid" alt="Responsive image">
    <h3 class="mt-3">Concatenate</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_04/8.png' %}" class="img-fluid" alt="Responsive image">
    <br/>
    <!-- <h1 class="text-center mt-3">Casting</h1>
    example in each type -->

    <h1 class="text-center mt-3">Boolean</h1>
    <p>In programming you often need to know if an expression is True or False.</p>
    <h3>Evaluate Values and Variables</h3>
    <p>Example </p>
    <img src="{% static 'img/lesson_04/10.png' %}" class="img-fluid" alt="Responsive image">
</div>