{% load static %}
<div class="my-5 mx-5">
    <h1 class="text-center">List</h1>
    <p>One of the 4 built-in data type that can use to store multiple items in a single variable.</p>
    <img src="{% static 'img/lesson_06/3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The list items are indexed and index start from [0]</p>
    <p>We can change list items when ever we want and it can have items with same values.</p>
    <img src="{% static 'img/lesson_06/2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    
    <h3>Access List item</h3>
    <p>We can access item in the list by referring index</p>
    <img src="{% static 'img/lesson_06/1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>We can access item from the end of the list by referring negative index.</p>
    <img src="{% static 'img/lesson_06/4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>We can access range of items by specifying start and end point of the range.</p>
    <img src="{% static 'img/lesson_06/5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>Change list items</h3>
    <p>We can change the item of the array by referring index.</p>
    <img src="{% static 'img/lesson_06/7.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>We can change range of items by referring to the range of index</p>
    <img src="{% static 'img/lesson_06/6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>Add Items to list</h3>
    <p>We can use  append() method to add new item.</p>
    <img src="{% static 'img/lesson_06/8.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>Also we can change add new item by insert() method.</p>
    <img src="{% static 'img/lesson_06/9.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>To append elements from another list to the current list, use the extend() method.</p>
    <img src="{% static 'img/lesson_06/10.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).</p>
    
    <h3>Remove item from the list</h3>
    <p>The remove() method removes the specified item.</p>
    <img src="{% static 'img/lesson_06/11.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The pop() method removes the specified index.</p>
    <img src="{% static 'img/lesson_06/12.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The del keyword also removes the specified index:</p>
    <img src="{% static 'img/lesson_06/13.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>The clear() method empties the list.</p>
    <!-- <img src="{% static 'img/lesson_06/13.png' %}" class="img-fluid mt-3" alt="Responsive image"> -->
    
    <h3>loop through a list</h3>
    <p>We can use for loop</p>
    <img src="{% static 'img/lesson_06/14.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>We can use loop through the index number</p>
    <img src="{% static 'img/lesson_06/15.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>Also we can use while loop</p>
    <img src="{% static 'img/lesson_06/16.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>list comprehension</p>
    <img src="{% static 'img/lesson_06/18.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Sort List</h3>
    <p>Can sort list using sort() method ( case insensitive sort )</p>
    <img src="{% static 'img/lesson_06/19.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>Sort in descending order</p>
    <p>if we want to reverse the order, we can use reverse() method.</p>
    <img src="{% static 'img/lesson_06/20.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>Copy list</h3>
    <p>We can use copy() method</p>
    <img src="{% static 'img/lesson_06/21.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Join lists</h3>
    <p>Using + operator</p>
    <img src="{% static 'img/lesson_06/22.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <p>Using append() method</p>
    <p>Using extend method</p>
</div>