{% load static %}
<div class="my-5 mx-5">
    <h1>If...Else</h1>
    
    <h3>logical conditions</h3>
    <p>Equals: a == b</p>
    <p>Not Equals: a != b</p>
    <p>Less than: a < b</p>
    <p>Less than or equal to: a <= b</p>
    <p>Greater than: a > b</p>
    <p>Greater than or equal to: a >= b</p>
    
    <h3>if</h3>
    <p>Indentation is very important</p>

    <h5>Scenario : </h5>
    <p>Let's assume this. Today is the session test day. The teacher gives you papers and you answered. After correcting the answer, the teacher enters marks into the system. The teacher wants to know whether you pass or fail the test. (If the mark is greater than or equal to 65, you will pass the test.)</p>
    <img src="{% static 'img/lesson_10/1.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>elif</h3>
    <p>if the previous conditions were not true, then try this condition</p>

    <h5>Scenario : </h5>
    <p>A teacher wants to categorize his students according to their marks.</p>
    <img src="{% static 'img/lesson_10/3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>else</h3>
    <p>Catches anything which isn't caught by the preceding conditions</p>
    
    <h5>Scenario : </h5>
    <p>A student wants to compare two numbers and wants to know what is the greater value.</p>
    <img src="{% static 'img/lesson_10/2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>Short Hand If</h3>
    
    <img src="{% static 'img/lesson_10/4.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Short Hand If ... Else</h3>
    
    <img src="{% static 'img/lesson_10/5.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>And</h3>
    <p>The and keyword is a logical operator, and is used to combine conditional statements.</p>
    <img src="{% static 'img/lesson_10/6.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Or</h3>
    <p>Test if a is greater than b, OR if a is greater than c.</p>
    <img src="{% static 'img/lesson_10/7.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Not</h3>
    <p>The not keyword is a logical operator, and is used to reverse the result of the conditional statement.</p>
    <img src="{% static 'img/lesson_10/8.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Nested if</h3>
    <p>we  can have if statements inside if statements, this is called nested if statements.</p>
    <img src="{% static 'img/lesson_10/9.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Pass</h3>
    <p>if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.</p>
    <img src="{% static 'img/lesson_10/10.png' %}" class="img-fluid mt-3" alt="Responsive image">
</div>