{% load static %}
    <div class="my-5 mx-5">
        <h1 class="text-center">Python Syntax</h1>
        <h3>Execute Python Syntax</h3>
        <p>We can execute python syntax directly in the command line</p>
        <img src="{% static 'img/lesson_02/1.png' %}" class="img-fluid" alt="Responsive image">
        <p>If we create a file with extension .py, we can execute it like below.</p>
        <img src="{% static 'img/lesson_02/2.png' %}" class="img-fluid" alt="Responsive image">

        <h3>Python Indentation</h3>
        <p>A block of code is defined via indentation in Python.</p>
        <img src="{% static 'img/lesson_02/3.png' %}" class="img-fluid" alt="Responsive image">
        <p>If you ignore the indentation, Python will throw an error..</p>
        <img src="{% static 'img/lesson_02/4.png' %}" class="img-fluid" alt="Responsive image">
        <br />

        <h1 class="text-center">Comment </h1>
        <h3>single line comment</h3>
        <p>For this type of comment we use  "#"</p>
        <img src="{% static 'img/lesson_02/5.png' %}" class="img-fluid" alt="Responsive image">
        <h3>Multiline comment</h3>
        <p>For this type of comment we use """ this is multiline comment """</p>
        <img src="{% static 'img/lesson_02/6.png' %}" class="img-fluid" alt="Responsive image">
        <br /> 

        <h1 class="text-center">Variables</h1>
        <p>A variable is formed the instant you first assign a value to it because there is no command in Python for defining a variable.</p>
        <p>Python is case-sensitive</p>
        <img src="{% static 'img/lesson_03/7.png' %}" class="img-fluid" alt="Responsive image">
        <h3>Find Type</h3>
        <p>when we want to find the type of the variable,</p>
        <img src="{% static 'img/lesson_03/9.png' %}" class="img-fluid" alt="Responsive image">
    </div>