{% load static %}
<div class="my-5 mx-5">
    <h1>Functions</h1>
    <p>A function is a section of code that only executes when called. We can provide parameters—data—to a function. As a result, a function may return data.</p>
    
    <h3>creating a function</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_12/1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>calling a function</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_12/2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>Functions with arguments / parameters</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_12/3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <img src="{% static 'img/lesson_12/4.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h5>Arbitrary Arguments, *args</h5>
    <img src="{% static 'img/lesson_12/5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <h5>Keyword Arguments</h5>
    <img src="{% static 'img/lesson_12/6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <h5>Arbitrary Keyword Arguments, **kwargs</h5>
    <img src="{% static 'img/lesson_12/7.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <h5>Default Parameter Value</h5>
    <img src="{% static 'img/lesson_12/8.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <h5>Passing a List as an Argument</h5>
    <img src="{% static 'img/lesson_12/9.png' %}" class="img-fluid mt-3" alt="Responsive image">
    
    <h3>Return value</h3>
    <p>Example</p>
    <img src="{% static 'img/lesson_12/10.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <<h3>Pass</h3>
    <p>if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.</p>
    <img src="{% static 'img/lesson_12/11.png' %}" class="img-fluid mt-3" alt="Responsive image">

    <h3>Recursion</h3>
    <img src="{% static 'img/lesson_12/12.png' %}" class="img-fluid mt-3" alt="Responsive image">

</div>