{% load static %}
<div class="my-5 mx-5">
    <h1 class="text-center">Operators</h1>

    <br />
    <h3 class="mt-3">Arithmetic Operator</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/arithmetic_1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/arithmetic_7.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <h3>Assignment Operator</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/assignment_1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment7.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_8.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_9.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_10.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_11.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_12.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/assignment_13.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <h3>Comparison Operators</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/comparison_1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/comparison_2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/comparison_3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/comparison_4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/comparison_5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/comparison_6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <h3>Logical Operators</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/logical_1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/logical_2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/logical_3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <h3>Identity Operators</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/is.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/is_not.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <h3>Membership Operators</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/in.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/not_in.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <h3>Bitwise Operators</h3>
    <p>Example:-</p>
    <img src="{% static 'img/lesson_05/bitwise_1.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/bitwise_2.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/bitwise_3.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/bitwise_4.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/bitwise_5.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />
    <img src="{% static 'img/lesson_05/bitwise_6.png' %}" class="img-fluid mt-3" alt="Responsive image">
    <br />

    <h1 class="text-center mt-4">Operator Precedence</h1>

    <table class="ws-table-all notranslate mt-2">
        <tr>
            <th style="width:25%">Operator</th>
            <th style="width:65%">Description</th>
        </tr>
        <tr>
            <td><code class="w3-codespan">()</code></td>
            <td>Parentheses</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">**</code></td>
            <td>Exponentiation</td>
        </tr>
        <tr>
            <td>
                <code class="w3-codespan">+x</code>&nbsp;
                <code class="w3-codespan">-x</code>&nbsp;
                <code class="w3-codespan">~x</code>
            </td>
            <td>Unary plus, unary minus, and bitwise NOT</td>
        </tr>
        <tr>
            <td>
                <code class="w3-codespan">*</code>&nbsp;
                <code class="w3-codespan">/</code>&nbsp;
                <code class="w3-codespan">//</code>&nbsp;
                <code class="w3-codespan">%</code>
            </td>
            <td>Multiplication, division, floor division, and modulus</td>
        </tr>
        <tr>
            <td>
                <code class="w3-codespan">+</code>&nbsp;
                <code class="w3-codespan">-</code>
            </td>
            <td>Addition and subtraction</td>
        </tr>
        <tr>
            <td>
                <code class="w3-codespan">&lt;&lt;</code>&nbsp;
                <code class="w3-codespan">&gt;&gt;</code>
            </td>
            <td>Bitwise left and right shifts</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">&amp;</code></td>
            <td>Bitwise AND</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">^</code></td>
            <td>Bitwise XOR</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">|</code></td>
            <td>Bitwise OR</td>
        </tr>
        <tr>
            <td>
                <code class="w3-codespan">==</code>&nbsp;
                <code class="w3-codespan">!=</code>&nbsp;
                <code class="w3-codespan">></code>&nbsp;
                <code class="w3-codespan">>=</code>&nbsp;
                <code class="w3-codespan">&lt;</code>&nbsp;
                <code class="w3-codespan">&lt;=</code>&nbsp;
                <code class="w3-codespan">is</code>&nbsp;
                <code class="w3-codespan">is not</code>&nbsp;
                <code class="w3-codespan">in</code>&nbsp;
                <code class="w3-codespan">not in</code>&nbsp;
            </td>
            <td>Comparisons, identity, and membership operators</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">not</code></td>
            <td>Logical NOT</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">and</code></td>
            <td>AND</td>
        </tr>
        <tr>
            <td><code class="w3-codespan">or</code></td>
            <td>OR</td>
        </tr>
    </table>
</div>